{% extends 'app/base.html' %}

{% block content %}    
<div class="jumbotron">
    <h1>Analysis A</h1>
    <form method="POST">{% csrf_token %}
      {{ box.as_p }}
      <button type="submit" class="btn btn-primary btn-large">Submit</button>
    </form>
</div>

{% if found %}
	{% if output %}
	<div class="wrapper">
		<div class="table">
			<div class="row header blue">
        			<div class="cell">Title</div>
                		<div class="cell">Longitude</div>
                		<div class="cell">Latitude</div>
                		<div class="cell">Locality</div>
        		</div>
		{% for data in output %}
			<div class="row">
				<div class="cell">{{ data.book.title }}</div>
				<div class="cell">{{ data.longitude }}</div>
				<div class="cell">{{ data.latitude }}</div>
				<div class="cell">{{ data.locality }}</div>
			</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}
{% else %}
	{% if output %}
        <div class="wrapper">
		<h3>Book Not Found! Show all books in the database instead.</h3>
                <div class="table">
                        <div class="row header blue">
                                <div class="cell">Title</div>
                                <div class="cell">Longitude</div>
                                <div class="cell">Latitude</div>
                                <div class="cell">Locality</div>
                        </div>
                {% for data in output %}
                        <div class="row">
                                <div class="cell">{{ data }}</div>
                                <div class="cell">N/A</div>
                                <div class="cell">N/A</div>
                                <div class="cell">N/A</div>
                        </div>
                {% endfor %}
                </div>
        </div>
        {% endif %}
{% endif %}
{% endblock %}
